{% extends "page.html" %}
{% block body %}
    <div class="container">
        <h1>Submission details</h1>
    </div>
    <div class="container">
        {% if versions %}
            <div class="row py-2">
                <div class="col">
                    <a href="{% url 'upload' submission.id %}"
                       class="btn btn-primary mt-2 float-end">Upload</a>
                </div>
            </div>
            <div class="row py-2">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Filename</th>
                            <th scope="col">Date uploaded</th>
                            <th scope="col">Evaluation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in versions %}
                            <tr>
                                <td>{{ v.id }}</td>
                                <td>{{ v.filename }}</td>
                                <td>{{ v.date_created|date:"M j Y" }}</td>
                                {% if v.evaluation_set.all %}
                                    <td>
                                        <a href="{% url 'evaluation-detail' v.evaluation_set.all.0.id %}">View score</a>
                                    </td>
                                {% else %}
                                    <td>Pending</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row py-2">
                <div class="col">
                    <a href="{% url 'upload' submission.id %}" class="btn btn-primary mt-2">Upload submission</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock body %}
