@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap-theme.scss";

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, serif;
}

/* Site logo */
.navbar-brand img {
  @include rfs(50px, height);
}

.page-header {
  @include rfs(2rem, padding-bottom);
}

.page-header {
  @include rfs(2rem, padding-bottom);
}

nav.navbar {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.page-header a {
  color: white;
}

.page-header a:hover {
  color: #aaa;
}

.page-header-with-image {
  background-size: cover;
  background-position: center;
}

.btn-primary {
  --bs-btn-color: white;
}
