{% extends "page.html" %}
{% block body %}
    <div class="container py-2">
        <div class="row py-2">
            <div class="col-6 py-2">
                <h1>{{ submission.name }}</h1>
                {% if submission.description %}<p>{{ submission.description }}</p>{% endif %}
            </div>
            {% if is_submission_owner %}
                <div class="col-6">
                    <div class=" col">
                        <a href="{% url 'collaborators-add' submission.id %}"
                           class="btn btn-secondary m-2 float-end">Add collaborator</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'submissions-detail' submission.id %}"
                           class="btn btn-primary m-2 float-end">Back to submission</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container py-2">
        {% if collaborators %}
            <div class="row py-2">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Collaborators</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in collaborators %}
                            <tr>
                                <td>
                                    <p>
                                        {{ c.user.username }}
                                        {% if c.is_owner %}<span>(submission owner)</span>{% endif %}
                                    </p>
                                </td>
                                <td>
                                    {% if is_submission_owner %}
                                        {% if not c.is_owner %}
                                            <a href={% url 'collaborators-delete' submission.id c.id %}>Remove</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row py-2">
                <div class="col">
                    <a href="" class="btn btn-secondary mt-2">Add collaborator</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock body %}
