{% extends "page.html" %}
{% block body %}
    <h1>Upload your submission</h1>
    <p>
        Select a text file, and upload it. You will be graded on the quality of the
        text you upload
    </p>
    <form class="form"
          action="{% url 'upload' %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %} {{ form }}
        <input class="form-control btn btn-primary mt-2"
               type="submit"
               value="Submit" />
    </form>
{% endblock body %}
