{% extends "page.html" %}
{% block body %}
    <div class="container py-2">
        <div class="row py-2">
            <div class="col py-2">
                <h1>Upload a submission</h1>
            </div>
        </div>
        <div class="row py-2">
            <div class="col py-2">
                <p>
                    Select a text file, and upload it. You will be graded on the quality of the
                    text you upload.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-2">
        <div class="row py-2">
            <div class="col py-2">
                <form class="form"
                      action="{% url 'upload' id %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %} {{ form }}
                    <input class="form-control btn btn-primary mt-2"
                           type="submit"
                           value="Submit" />
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
