{% extends "page.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container py-2">
        <div class="row py-2">
            <div class="col py-2">
                <h1>Upload a submission</h1>
            </div>
        </div>
        <div class="row py-2">
            <div class="col py-2">
                <p>
                    Select a text file, and upload it. You will be graded on the quality of the
                    text you upload.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">{% crispy form %}</div>
        </div>
    </div>
{% endblock body %}
