{% extends "page.html" %}
{% block body %}
    <div class="container">
        <h1>Add someone to team {{ team.name }}</h1>
        <form class="form"
              action="{% url 'teams-add-member' team.id %}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %} {{ form }}
            <input class="form-control btn btn-primary mt-2"
                   type="submit"
                   value="Submit" />
        </form>
    </div>
{% endblock body %}
